{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About  {{ name }}</h1>
        <p> {{ capitalizar 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate sed numquam alias qui omnis provident illum saepe? Illum ex, doloribus aut et, mollitia nesciunt voluptatum deserunt animi voluptates dolorum est.'}} </p>
    </div>

    <div class="col-4">
        <img src="./assets/img/{{ img }}" alt="{{ name }}" class="img-thumbnail">
    </div>
</div>


{{> footer }}